.sidebarRow {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 500;
}

.sidebarRow > .MuiSvgIcon-root {
  height: 28px;
  color: #2e81f4;
}
